*{
    margin: 0px;
    box-sizing: border-box;
}




body{
    background-color: #68A5E0;
}

header{
    background-color: #1E6EBB;
    display: flex;
    border: 1px solid #0C4B88;
    margin: 40px;align-items: center;
    justify-content: space-between;
}

.container--nav{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
   