:root{
    --primary-color:#212F3C  ;
    --second-color: #ECF0F1 ;
    --color-orange:#15cd9f ;

}

/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos generales */

body{
    font-family: 'Mulish', sans-serif;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

ul {
    list-style: none;
}

h1{
    font-size: 2,5rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.75rem;
}
h4{
    font-size: 2,5rem;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    font-weight: 900;
}

p {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.7em;
}

/* clases generales*/

.container {
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 20px;
}
.text-info {
    font-size: 1.25rem;
}
.text-portada {
    font-size: 2.5rem;
}

.btn {
    display: inline-block;
    font-size: 15px;
    padding: 12px 23px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 3px;
    width: 100%;
    
}
.btn-dark {
    border: none;
    background-color: var(--color-orange);
    color: var(--primary-color);
    transition: ease-in .2s;
}
.btn-dark:hover {
    border: none;
    background-color: #2aa486;
    color: var(--primary-color);
    transition: ease-in .2s;
    cursor: pointer;
}
form label {
    display: inline-block;
    margin-bottom: 6px;
    font-weight: 700;

}
form .form-group {
    margin-bottom: 16px;

}
form .form-control {
    display: block;
    width: 100%;
    padding: 9px 15px;
    line-height: 1.5;
    background-color: var(--second-color);
    border: none;
    border-radius: 3px;
}

.active {
    margin: 0px 20px;
    padding: 10px 13px;
    cursor: pointer;
    background-color: var(--color-orange);
    transition: ease-in .2s;
}


/* Nav bar */

.header{
    width:100%;
    background-color: #ffffff;
    padding: 1em;
  
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
  }

  .header img{
    width: 60px;
  }

  .a {
    font-size: 18px;
  }

  .header .button{
    display: none;
    background-color: #ffffff;
    border: none;
  }
  .header .svg{
    width:3em;
    height:3em;
    fill: var(--primary-color);
  }

  .header .ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    
  }
  .header .li{
    margin: 0px 20px;
    padding: 10px 13px;
    cursor: pointer;
    transition: ease-in .2s;
  }

  .header .li:hover{
    margin: 0px 20px;
    padding: 10px 13px;
    cursor: pointer;
    background-color: var(--color-orange);
    transition: ease-in .2s;
  }


  


/* portada contenido */
.header-portada {
    height: 80vh;
    background-color: var(--second-color);
}

.img-portada img {
    height: 400px;
}

.container-portada {
    display: flex;
}

.container-portada h1 {
    line-height: 1em;
    color: var(--primary-color);
}

.text-portada{
    padding-top: 160px;
}
.text-portada span {
    color: var(--color-orange);
}

.img-portada {
    display: block;
    margin:90px auto;
    border: solid 3px var(--color-orange);

}

/* About*/
.main-about {
    background-color: var(--second-color);
    padding: 30px 0;
}

.main-about h2 {
    padding-bottom: 30px;
    color: var(--primary-color);
    font-size: 42px;
}

.container-about {
    display: flex;
}

.about-img img {
    height: 350px;
    padding: 40px 80px 0 0px;

}
.main-about hr {
    width: 70%;
    margin-bottom: 30px;
}

.about-text h4 {
    font-size: 1.80rem;
    color: var(--primary-color);
}

.about-text .about-download {
    background-color: var(--color-orange);
    border: none;
    height: 40px;
    width: 170px;
    font-weight: 600;
    margin-top: 15px;
    transition: .2s;
    margin-bottom: 30px;

}
.about-text .about-download:hover {
    background-color: #2aa486;
    border: none;
    height: 40px;
    width: 170px;
    font-weight: 600;
    margin-top: 15px;
    transition: .2s;
    cursor: pointer;
    
}

/*skills*/

.skills {
    padding: 40px 0;
}
.skills h2 {
    padding-bottom: 50px;
    color: var(--primary-color);
    font-size: 40px;
}

.skills-filas {
    display: flex;
    padding-bottom: 50px;
    margin-top: 40px;
}
.skills-left,
.skills-right {
    width: 50%;
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

.left-img,
.right-img {
    width: 50%;
    text-align: right;
    padding-right: 50px;
}

.skills-left .left-img i,
.skills-right .right-img i {
    font-size: 70px;
    
}

/* proyectos */

.proyectos {
    padding: 50px 0;
    background-color: var(--second-color);
}

.proyectos h2 {
    padding-bottom: 40px;
    color: var(--primary-color);
    font-size: 40px;
}

.proyectos-fila {
    display: flex;
    flex-direction: column;
    
}

.proyectos-fila-caja {
    margin: 20px auto 50px;
    background-color: #ffffff;
    box-shadow: -1px 10px 22px 5px rgba(0,0,0,0.75);
}
.proyectos-fila-caja img{
    height: 400px;
}

.proyectos-fila-caja p {
    text-align: center;
    margin-top: 0px;
}
.caja-botones {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    
}
.botones-proyectos {
    background-color: var(--color-orange);
    border: none;
    height: 35px;
    width: 100px;
    font-weight: 600;
    margin: 10px;
    transition: .2s;

}
.botones-proyectos:hover{
background-color: #2aa486;
    border: none;
    height: 35px;
    width: 100px;
    font-weight: 600;
    margin: 10px;
    transition: .2s;
    cursor: pointer;
}    

/* Contacto */

.contact {
    padding: 70px 0;
    background-color: var(--second-color);
}
.contact h2 {
    padding-bottom: 40px;
    font-size: 45px;
    color: var(--primary-color);
}
.contact-form {
    background-color: #ffffff;
    width: 50%;
    margin: 30px auto 20px auto;
    padding: 50px 50px;
    border-radius: 8px;
    box-shadow: -1px 10px 22px 5px rgba(0,0,0,0.75);
}
.contact-form h4 {
    text-align: center;
    color: var(--primary-color);
    padding-bottom: 40px;
    font-size: 25px;
}
.contact-form button {
    width: 100%;
}


.social-media {
    width: 100%;
    margin-top: 45px;
}
.social-media ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}
.social-media i {
    font-size: 30px;
    transition: ease-in .2s;
}
.social-media i:hover {
    font-size: 35px;
    color: var(--color-orange);
    transition: ease-in .2s;
}


/* footer */

.main-footer {
    text-align: center;
    padding: 13px;
    height: 12vh;
    background-color: var(--second-color);
}
.main-footer p {
    opacity: 0.6;
    
}

.social-media-footer {
    margin-top: -8px;
}

.social-media-footer ul {   
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-media-footer ul li {
    margin: 0 10px;
}
.social-media-footer ul li i {
    opacity: 0.6;
}
